@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.btn-danger {
    background-color: #bd0001;
    border-radius: 15px;
    border-color: #bd0001;
    padding: 15px 30px;
    color: white;
}
.nav-item .nav-link {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    transition: color 0.3s;
}

.scroll-nav-active{
    background-color: white;
    /* border-bottom: 1px solid #BD0001; */
    box-shadow: 1px 1px 11px 1px rgba(1, 1, 1, .08);
}

.text-nav-active{
    color: black;
}


/* Hero Section */
#hero {
    background-image: url("../images/jtll.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.hero-title {
    text-align: center;
    color: black;
}

.hero-text {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

/* Card Styles */
.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%; /* Pastikan elemen menempati seluruh tinggi */
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: 200px; /* Tetapkan tinggi gambar agar seragam */
    object-fit: cover;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Buat card-body tumbuh untuk memenuhi ruang yang tersedia */
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #333;
}

.text-secondary {
    color: #6c757d !important;
}

.text-danger {
    color: #bd0001 !important;
}

.btn-outline-danger {
    border-radius: 15px;
    border-color: #bd0001;
    padding: 15px 30px;
    color: #bd0001;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-outline-danger:hover {
    background-color: #bd0001;
    color: #fff;
}

.header-berita {
    margin-bottom: 2rem;
}

.footer-berita {
    margin-top: 2rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;  
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Layanan */
#layanan .bg-light {
    background-color: #f8f9fa !important;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: fit-content;
}

.leader-text {
    text-align: center;
    margin-top: 10px;
}

.leader-text h5 {
    margin: 0;
    font-weight: bold;
}

.leader-text p {
    margin: 5px 0 0;
}

.informasi-text {
    text-align: center;
    margin-top: 10px;
}

.informasi-text h5 {
    margin: 0;
    font-weight: bold;
}

.informasi-text p {
    margin: 5px 0 0;
}

/* Navbar Link Styling */
.nav-link {
    font-size: 18px; /* Ukuran teks */
}

.navbar-brand {
    transition: color 0.3s;
}

/* Image Styling */
.leader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px; /* Sesuaikan dengan kebutuhan */
    position: relative;
    z-index: 2; 
}

.image-left {
    max-width: 80%;
    height: auto;
}

.bg-image-right {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    margin-top: 40px; 
}

.image-right {
    width: auto;
    height: 700px; 
    object-fit: cover; 
}

.bg-image-right .text-center {
    margin-bottom: 20px; 
}

.bg-image-right h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
    text-align: center;
}


@media (max-width: 992px) {
    .leader-container {
        margin-top: 0; 
    }
    .bg-image-right {
        margin-top: 0; 
    }
    .image-right {
        height: auto;
    }
}

/* Footer Styles */
footer {
    color: black;
    padding: 20px 0;
}

footer h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left; /* Ratakan teks ke kiri */
    color: black;
}

footer p {
    color: black;
}

/* Khusus untuk tombol subscribe */
footer .btn-outline-light {
    color: red;
    border-color: red;
}

footer .btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}

/* Mengatur ikon sosial */
.social-icons .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Responsif */
@media (max-width: 768px) {
    footer h4 {
        text-align: center; /* Ratakan teks ke tengah untuk layar kecil */
    }

    footer .col {
        text-align: center; /* Ratakan konten kolom ke tengah untuk layar kecil */
    }
}